<!-- start contact -->
<section id="contact" class='borrowers-content'>
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
          <h2 class="text-uppercase">{{site.contactBorrowers.title}}</h2>
          <p>{{site.contactBorrowers.blurb}}</p>
          <address>
            <a href="mailto:{{site.email}}" class="plain">
              <p><i class="fa fa-envelope-o"></i> info@socket.co.nz</p>
            </a>
          </address>
        </div>
        <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
          <div class="contact-form">
            <form action="#" method="post">
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Name">
              </div>
              <div class="col-md-6">
                <input type="email" class="form-control" placeholder="Email">
              </div>
              <div class="col-md-12">
                <textarea class="form-control" placeholder="A brief description of your needs" rows="4"></textarea>
              </div>
              <div class="col-md-8">
                <input type="submit" class="form-control text-uppercase" value="Send">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end contact -->
