{% for feature in site.data.features %}
{% assign i = forloop.index | modulo: 2 %}
{% if i == 1 %}
{% assign wowClass = 'fadeInDown' %}
{% else %}
{% assign wowClass = 'fadeInLeft' %}
{% endif %}
<section id="feature" class='advisers-content'>
  <div class="container">
    <div class="row">
      {% if i == 1 %}
      <div class="col-xs-0 col-sm-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
        <img src="{{feature.img}}" class="img-responsive feature-img" alt="feature img">
      </div>
      {% endif %}
      <div class="col-xs-11 col-xs-offset-1 col-sm-8 col-sm-offset-0 col-md-6 wow {{wowClass}}" data-wow-delay="0.4s">
        <h2 class="text-uppercase">{{feature.tagline}}</h2>
        <p>{{feature.blurb}}</p>
        {% for f in feature.features %}
        <div class="row">
          <div class="col-xs-2 col-lg-1 feature-icon">
            <i class="fa {{f.icon}}"></i>
          </div>
          <div class='col-xs-10 col-lg-11 feature-text-container'>
            <p class='feature-text'>
              {{f.text}}
            </p>
          </div>
        </div>



        {% endfor %}
      </div>
      {% if i == 0 %}
      <div class="ol-xs-0 col-sm-4 col-md-6 wow fadeInRight featureImg" data-wow-delay="0.4s">
        <img src="{{feature.img}}" class="img-responsive feature-img" alt="feature img">
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endfor %}
