{% for feature in site.data.trial %}
{% assign wowClass = 'fadeInLeft' %}
<section id="feature" class='advisers-content'>
  <div class="container">
    <div class="row">
      <div class="col-md-12 centre"><h2 class="text-uppercase page-headline">{{feature.tagline}}</h2></div>
    </div>
    <div class="row">
      <div class="col-md-12 centre"><h4 class="page-headline">{{feature.subtext}}</h4></div>
    </div>
    <div class="row spacer">
    </div>
    <div class="row">
      <div class="col-xs-0 col-sm-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
        <img src="{{feature.img}}" class="img-responsive feature-img" alt="feature img">
      </div>

      <div class="col-xs-11 col-xs-offset-1 col-sm-8 col-sm-offset-0 col-md-6 wow {{wowClass}}" data-wow-delay="0.4s">

        <p>{{feature.blurb}}</p>
        {% for f in feature.features %}
        <div class="row">
          <div class="col-xs-2 col-lg-1 feature-icon">
            <i class="fa {{f.icon}}"></i>
          </div>
          <div class='col-xs-10 col-lg-11 feature-text-container'>
            <p class='feature-text'>
              {{f.text}}
            </p>
          </div>
        </div>



        {% endfor %}
      </div>

    </div>
    <div class="row spacer">
    </div>
    <div class="row spacer">
    </div>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 wow fadeIn" data-wow-delay="0.3s">
        <a id='forAdviserButton' class='button-for-whom full-width' href='https://api.socket.co.nz/users/sign_up' target='_blank'>Start free trial</a>

      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</section>
{% endfor %}
