<!-- start home -->
<section id="home">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 wow fadeIn" data-wow-delay="0.3s">
          <h1 class="text-upper">{{site.home.tagline}}</h1>
          <p class="tm-white">{{site.home.blurb}}</p>
          <img src="img/devices.png" class="img-responsive" alt="home img">
          <button class='button-for-whom'>For Advisers</button>
          <button class='button-for-whom'>For Borrowers</button>
          <button class='button-for-whom'>For Lenders</button>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>
</section>
<!-- end home -->
