<!-- start home -->
<section id="home">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 wow fadeIn" data-wow-delay="0.3s">
          <img src="{{site.baseurl}}/img/logo.png" class="img-responsive" alt="home img">
          <h1 class="text-upper">{{site.home.tagline}}</h1>
          <p class="tm-white">{{site.home.blurb}}</p>
          <img src="{{site.baseurl}}/img/devices2.png" class="img-responsive" alt="home img">
        </div>
        <div class="col-md-1"></div>
      </div>
      {% if page.title == 'SOCKET - for advisers' %}
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 wow fadeIn" data-wow-delay="0.3s">
          <a class='button-like-link' href='/trial' target='_blank'>FREE TRIAL</a>
        </div>
        <div class="col-md-2"></div>
      </div>
      {% endif %}
      {% if page.title == 'SOCKET - for borrowers' %}
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 wow fadeIn" data-wow-delay="0.3s">
          <a class='button-like-link' href='/findadviser' target='_blank'>FIND A SOCKET ADVISER</a>
        </div>
        <div class="col-md-2"></div>
      </div>
      {% endif %}
    </div>
  </div>
</section>
<!-- end home -->
