<!-- start pricing -->
<section id="pricing" class='advisers-content'>
  <div class="container">
    <div class="row">
      <div class="col-md-12 wow bounceIn">
        <h2 class="text-uppercase">Our Pricing</h2>
      </div>
    </div>
    <div class="row">

      <div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
        <div class="pricing text-uppercase">
          <div class="pricing-title">
            <h4>Socket CRM</h4>
            <p>$35/month</p>
            <small class="text-lowercase">per user</small>
          </div>
          <ul>
            <li>Unlimited client records</li>
            <li>Tools to transfer from your existing CRM</li>
            <li>Track all client contacts and loan applications</li>
            <li>Supports any size firm - from 1 user to 10,000</li>
          </ul>
          <a class='button-like-link btn btn-primary' href='/trial'>FREE TRIAL</a>

        </div>
      </div>


      <div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
        <div class="pricing text-uppercase">
          <div class="pricing-title">
            <h4>Socket Loan App</h4>
            <p>$15/month</p>
            <small class="text-lowercase">per user</small>
          </div>
          <ul>
            <li>Unlimited loan applications</li>
            <li>Unlimited storage for loan documentation</li>
            <li>Generate professional application documents with one click</li>
            <li>Use with Socket CRM for full application lifecycle management</li>
          </ul>
          <a class='button-like-link btn btn-primary' href='/trial'>FREE TRIAL</a>
          <!--button class="btn btn-primary text-uppercase">Free trial</button-->
        </div>
      </div>



      <div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
        <div class="pricing text-uppercase">
          <div class="pricing-title">
            <h4>Socket Toolkit</h4>
            <p>$10/month</p>
            <small class="text-lowercase">per user</small>
          </div>
          <ul>
            <li>Full Access to all tools</li>
            <li>Unlimited storage to save every tool</li>
            <li>Generate professional PDFs for your clients</li>
            <li>Use with Socket CRM to save tools against client records</li>
          </ul>
          <a class='button-like-link btn btn-primary' href='/trial'>FREE TRIAL</a>
          <!--button class="btn btn-primary text-uppercase">Free trial</button-->
        </div>
      </div>
    <!--
      <div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
        <div class="pricing text-uppercase">
          <div class="pricing-title">
            <h4>Pro Plan</h4>
            <p>$33</p>
            <small class="text-lowercase">monthly</small>
          </div>
          <ul>
            <li>35 GB space</li>
            <li>3,500 GB bandwidth</li>
            <li>350 more themes</li>
            <li>Lifetime Support</li>
          </ul>
          <button class="btn btn-primary text-uppercase">Sign Up</button>
        </div>
      </div>
      -->
    </div>
  </div>
</section>
<!-- end pricing -->
