<!-- start home -->
<section id="home">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 wow fadeIn" data-wow-delay="0.3s">
          <h1 class="text-upper">Free Trial</h1>

          <p class="tm-white">Try the full socket suite free for a month - no credit card required!</p>
          <p class="tm-white">Enjoy unlimited access to:</p>
          <ul>
            <li>Socket's purpose built Adviser CRM</li>
            <li>Socket Loan App - our web based loan application form</li>
            <li>Our brand new Loan Planner - a powerful planning and modelling tool</li>
            <li>Socket generated leads and refßerrals</li>
          </ul>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 wow fadeIn" data-wow-delay="0.3s">
          <button id='forAdviserButton' class='button-for-whom' onClick='forWhom("advisers")'>Sign up for free trial</button>

        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>
</section>
<!-- end home -->
